useDynLib(RDelta, .registration = TRUE)
import(graphics)
import(methods)
import(stats)
import(utils)
import(stringr)
importFrom(Rcpp, sourceCpp)
importFrom(Rcpp, loadModule)
exportPattern("^[[:alpha:]]+")
export(DeltaParser)
